Repository rocha19/teddy-performance-evaluation: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, npx -y sort-package-json

.lintstagedrc.json:

{
	"{src,apps,libs,test}/**/*.ts": ["biome check --write"],
	"package.json": ["npx -y sort-package-json"]
}

chore: set pre commands scripts
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: using biome to lint
  biome.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: biome check --write

chore(http): make endpoint accessible via curl
  http/login.sh
Due: none

style: remove naming convention and use import type rules
  biome.json
Due: none

fix: null reference bug
  .commitlintrc.json
  commitlint.config.mjs
Due: none

chore: enable postgres image
  docker-compose.yaml
Due: none

style: remove naming convention and use import type rules
  .lintstagedrc.json
  biome.json
  bun.lockb
Due: none

refactor: remove default nestjs files
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Due: biome check --write

chore: organizing activities
  todo/doc.md
Due: none

feat: add user entity
  src/domain/entity/user.ts
Due: biome check --write

feat: add shortened url entity and barrel pattern
  src/domain/entity/index.ts
  src/domain/entity/shortened-url.ts
Due: biome check --write

feat: add Authentication, User, Login, Access Management and Shortened URL Creation
  src/domain/usecase/access-short-url-authenticated.ts
  src/domain/usecase/access-short-url-unauthenticated.ts
  src/domain/usecase/authentication.ts
  src/domain/usecase/create.user.ts
  src/domain/usecase/index.ts
  src/domain/usecase/login.ts
  src/domain/usecase/new-short-url-authenticated.ts
  src/domain/usecase/new-short-url-unauthenticated.ts
Due: biome check --write

feat: add repository for dependency inverging with the pesistenia layer and add barrel pattern
  src/domain/index.ts
  src/domain/repository/index.ts
  src/domain/repository/repository.ts
Due: biome check --write

refactor: add port to env file
  src/main.ts
Due: biome check --write

chore: remove commitlint of package and exclude node_modules
  package-lock.json
  package.json
  tsconfig.build.json
Due: npx -y sort-package-json

chore: remove commitlint of package
  package.json
Due: npx -y sort-package-json

chore(login): add .sh file to access
  http/login.sh
Due: none

feat: adjust all the minimum settings of the prisma and create the models
  src/application/prisma/index.ts
  src/application/prisma/migrations/20240816012729_/migration.sql
  src/application/prisma/migrations/20240816170625_/migration.sql
  src/application/prisma/migrations/20240816173523_/migration.sql
  src/application/prisma/migrations/migration_lock.toml
  src/application/prisma/prisma.module.ts
  src/application/prisma/prisma.service.spec.ts
  src/application/prisma/prisma.service.ts
  src/application/prisma/schema.prisma
  src/application/prisma/sqlite.db
Due: biome check --write

feat: creates the user prisma and shortened URL repositories
  src/application/repository/index.ts
  src/application/repository/shortened-url.prisma.ts
  src/application/repository/user.prisma.ts
Due: biome check --write

feat: add the use cases that communicate with the interface layer
  src/application/index.ts
  src/application/usecase/auth/auth.service.spec.ts
  src/application/usecase/auth/auth.service.ts
  src/application/usecase/auth/index.ts
  src/application/usecase/auth/jwt.adapter.ts
  src/application/usecase/auth/jwt.guard.ts
  src/application/usecase/healthchecker/healthchecker.service.spec.ts
  src/application/usecase/healthchecker/healthchecker.service.ts
  src/application/usecase/index.ts
  src/application/usecase/jwt-strategy/index.ts
  src/application/usecase/jwt-strategy/jwt-strategy.service.spec.ts
  src/application/usecase/jwt-strategy/jwt-strategy.service.ts
  src/application/usecase/shotened-url/access-shotened-url.service.spec.ts
  src/application/usecase/shotened-url/access-shotened-url.service.ts
  src/application/usecase/shotened-url/index.ts
  src/application/usecase/shotened-url/new-shortened-url.service.spec.ts
  src/application/usecase/shotened-url/new-shortened-url.service.ts
  src/application/usecase/user/index.ts
  src/application/usecase/user/user.service.ts
Due: biome check --write

feat: add controllers
  src/interface/controller/auth/auth.controller.spec.ts
  src/interface/controller/auth/auth.controller.ts
  src/interface/controller/auth/index.ts
  src/interface/controller/healthchecker/healthchecker.controller.spec.ts
  src/interface/controller/healthchecker/healthchecker.controller.ts
  src/interface/controller/index.ts
  src/interface/controller/shotened-url/index.ts
  src/interface/controller/shotened-url/shotened-url.controller.spec.ts
  src/interface/controller/shotened-url/shotened-url.controller.ts
  src/interface/controller/user/index.ts
  src/interface/controller/user/user.controller.spec.ts
  src/interface/controller/user/user.controller.ts
Due: biome check --write

feat: add dtos base
  src/interface/dto/full-url.ts
  src/interface/dto/index.ts
  src/interface/dto/login.ts
  src/interface/dto/shortened-url.dto.ts
  src/interface/dto/user.ts
Due: biome check --write

feat: extracts prisma exception
  src/interface/exceptions-filter/index.ts
  src/interface/exceptions-filter/prisma.exception-filter.ts
  src/interface/index.ts
Due: biome check --write

feat: add all modules to nestjs
  src/framework/app.module.ts
  src/framework/auth/auth.module.ts
  src/framework/healthchecker/healthchecker.module.ts
  src/framework/index.ts
  src/framework/shotened-url/shotened-url.module.ts
  src/framework/user/user.module.ts
  src/framework/utils/env.ts
  src/framework/utils/index.ts
Due: biome check --write

feat: add new user registration, creation and shortened URL access
  http/access-link.sh
  http/register.sh
  http/short-url.sh
Due: none

refactor: move payload type to dto
  src/application/usecase/shotened-url/new-shortened-url.service.ts
  src/interface/dto/payload.ts
Due: biome check --write

feat: add other operations for user context in the interface, framework and application layer
  src/application/usecase/user/index.ts
  src/application/usecase/user/user.service.ts
  src/framework/user/user.module.ts
  src/interface/controller/user/user.controller.ts
  src/interface/dto/index.ts
  src/interface/dto/user.ts
Due: biome check --write

feat: add other operations for user context in the domain and application layer
  src/application/usecase/user/delete-user.service.ts
  src/application/usecase/user/new-user.service.ts
  src/application/usecase/user/update-user.service.ts
  src/domain/usecase/create-user.ts
  src/domain/usecase/delete-user.ts
  src/domain/usecase/find-user.ts
  src/domain/usecase/index.ts
  src/domain/usecase/update-user.ts
Due: biome check --write

refactor: rename file
  http/access-short-url.sh
Due: none

chore: add user operations sh files
  http/delete-url.sh
  http/delete-user.sh
  http/get-user.sh
  http/update-url.sh
  http/update-user.sh
Due: none

fix: fix return as empty to return user
  src/application/usecase/user/user.service.ts
  src/interface/controller/user/user.controller.ts
Due: biome check --write

docs: add todo
  README.md
  todo/doc.md
Due: none

chore: add delete scripts
  http/delete-url.sh
  http/delete-user.sh
Due: none

chore: ignore sqlite file
  .gitignore
  src/application/prisma/sqlite.db
Due: none

fix: remove the search method to delete
  src/domain/usecase/delete-user.ts
Due: biome check --write

fix: param how DTO and replece ':' to ':id' at user PATCH route
  http/access-short-url.sh
  http/update-user.sh
  src/application/usecase/user/update-user.service.ts
  src/interface/controller/shotened-url/shotened-url.controller.ts
  src/interface/controller/user/user.controller.ts
  src/interface/dto/params.ts
  src/interface/dto/shortened-url.dto.ts
  src/interface/dto/user.ts
Due: biome check --write

feat: add update and delete route to controller
  src/interface/controller/shotened-url/shotened-url.controller.ts
Due: biome check --write

fix: receive a url id
  src/interface/controller/shotened-url/shotened-url.controller.ts
  src/interface/dto/params.ts
Due: biome check --write

feat: add update and delete service
  src/application/usecase/shotened-url/delete-short-url.service.ts
  src/application/usecase/shotened-url/index.ts
  src/application/usecase/shotened-url/update-short-url.service.ts
Due: biome check --write

feat: add update and delete service and domain usecase to nestjs model
  src/framework/shotened-url/shotened-url.module.ts
Due: biome check --write
