Repository rocha19/teddy-performance-evaluation: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, npx -y sort-package-json

.lintstagedrc.json:

{
	"{src,apps,libs,test}/**/*.ts": ["biome check --write"],
	"package.json": ["npx -y sort-package-json"]
}

test: routes create and accesse the url shortener with and without authentication
  test/e2e/shortener-url/auth-create-short-url.e2e-spec.ts
  test/e2e/shortener-url/delete-short-url.e2e-spec.ts
  test/e2e/shortener-url/unauth-access-short-url.e2e-spec.ts
  test/e2e/shortener-url/unauth-create-short-url.e2e-spec.ts
Due: biome check --write

docs: add swagger
  src/interface/controller/auth.controller.ts
  src/interface/controller/healthchecker.controller.ts
  src/interface/controller/shotened-url.controller.ts
  src/interface/controller/user.controller.ts
  src/interface/dto/shortened-url.dto.ts
  src/interface/dto/user.ts
  src/main.ts
Due: biome check --write

fix: passing data between the short url code and the full domain
  bun.lockb
  nest-cli.json
  package.json
  src/application/repository/file-repository.ts
  src/application/repository/in-memory-repository.ts
  src/application/repository/index.ts
  src/application/repository/shortenedUrls.json
  src/application/usecase/shotened-url/access-shotened-url.service.ts
  src/application/usecase/shotened-url/new-shortened-url.service.ts
  src/application/usecase/shotened-url/update-short-url.service.ts
  src/domain/entity/anonymous-user.ts
  src/domain/usecase/access-short-url-unauthenticated.ts
  src/domain/usecase/new-short-url-unauthenticated.ts
  test/unit/application/repository/shortened-url.spec.ts
  test/unit/application/repository/user-repository.spec.ts
  test/unit/application/usecase/shortener/update-short-url.service.spec.ts
  test/unit/application/usecase/user/get-user.service.spec.ts
Due: biome check --write, npx -y sort-package-json

docs: rewrite todo checks
  README.md
Due: none

build: delete useless sqlite migrations
  src/application/prisma/migrations/20240816012729_/migration.sql
  src/application/prisma/migrations/20240816170625_/migration.sql
  src/application/prisma/migrations/20240816173523_/migration.sql
  src/application/prisma/migrations/20240817172921_/migration.sql
  src/application/prisma/migrations/20240817175420_/migration.sql
  src/application/prisma/migrations/20240817181939_use_snake_case_on_fields/migration.sql
  src/application/prisma/migrations/migration_lock.toml
  src/application/prisma/schema.prisma
Due: none

chore: add docker
  .local.env
  Dockerfile
  README.md
  docker-compose.yaml
  package.json
Due: npx -y sort-package-json

chore: delete useless file
  src/application/repository/shortenedUrls.json
Due: none

style: add github action to commitlint
  .github/workflows
  README.md
Due: none
